# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.sdf
*.opensdf
*.suo
C/Debug/
C/Release/
C/TraceSimilarity/Debug/
C/TraceSimilarity/Release/
C/ParamOptimizer/Debug/
C/ParamOptimizer/Release/
C/1/
C/.vs/
Java/.classpath
Java/.project
Java/build
*.prefs
*.class